.pos-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f5f5f5;
  flex-direction: column;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.right-panel {
  width: 45%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.tabs-menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-section {
  margin-bottom: 16px;
}

.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
  height: calc(100vh - 400px);
  box-sizing: border-box;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  height: 160px;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.menu-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 8px;
}

.menu-item h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
  color: #333;
  text-align: center;
}

.menu-item p {
  font-size: 12px;
  color: #555;
  margin: 0;
  text-align: center;
}

.order-list {
  flex: 1;
}

.order-summary {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
}

.left-middle-panel {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-right: 1px solid #ddd;
  position: relative;
}

.tool-tip {
  position: fixed;
  bottom: 0;
  left: 5px;
  width: calc(55% - 17px);
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 6px 13px;
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.tool-tip button {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool-tip button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tool-tip button i {
  font-size: 18px;
  color: #ff6600;
}
.tabs-menu-container .ant-tabs-content-holder {
  padding-top: 0 !important;
}

/* Responsive cho Mobile */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 50px;
  }
  .left-middle-panel {
    width: 100%;
    border-right: none;
  }
  .right-panel {
    width: 100%;
  }
  .menu-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .menu-item {
    padding: 12px;
  }
  .tool-tip {
    display: none;
  }
  .order-list {
    flex: none;
    height: 35vh;
  }
  .menu-grid {
    height: 35vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .pos-page {
    height: auto;
  }
  .App {
    overflow: hidden;
  }
  .order-item-main {
    grid-template-columns: 20px 1fr 130px 65px 20px;
  }
  .order-item {
    padding: 10px 10px 10px 0;
  }
  .quantity-controls span {
    padding: 4px;
  }
}
