.pos-page {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  flex-direction: column;
  overflow: auto;
}

/* Style tab đẹp cho POS */
.custom-tabs .ant-tabs-nav {
  background-color: #f8f9fa;
  padding: 6px 8px;
  border-bottom: 1px solid #ddd;
  overflow-x: auto;
}

.custom-tabs .ant-tabs-tab {
  white-space: nowrap;
  width: 98px;
  justify-content: space-evenly;
}

.custom-tabs .ant-tabs-tab:hover {
  background-color: #f0f0f0;
}

.custom-tabs .ant-tabs-tab-active {
  background-color: #2f80ed;
  color: #fff;
  font-weight: bold;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.custom-tabs .ant-tabs-tab-remove {
  margin-left: 8px;
  color: #bbb;
}

.custom-tabs .ant-tabs-tab-remove:hover {
  color: red;
}

.main-container {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.main-container::-webkit-scrollbar {
  display: none;
}

.right-panel {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  padding: 16px;
  overflow-y: auto;
  height: calc(100vh - 400px);
  box-sizing: border-box;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  height: 160px;
}

.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.menu-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 8px;
}

.menu-item h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
  color: #333;
  text-align: center;
}

.menu-item p {
  font-size: 12px;
  color: #555;
  margin: 0;
  text-align: center;
}

.order-summary {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.left-middle-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ddd;
  position: relative;
}

.tool-tip {
  position: fixed;
  bottom: 10px;
  left: 5px;
  width: calc(60% - 17px);
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 6px 13px;
  border-radius: 7px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.tool-tip button {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tool-tip button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tool-tip button i {
  font-size: 18px;
  color: #ff6600;
}
.tabs-menu-container .ant-tabs-content-holder {
  padding-top: 0 !important;
}

.hide-tabs-and-buttons .tabs-menu-container button.ant-tabs-nav-add,
.hide-tabs-and-buttons .tabs-menu-container span.anticon.anticon-close,
.hide-tabs-and-buttons .select-table-button {
  display: none;
}

.hide-tabs-and-buttons .summary-button {
  width: 80%;
  height: 40px;
}

.hide-tabs-and-buttons .summary-actions {
  justify-content: center;
}

/* Responsive cho Mobile */
@media screen and (max-width: 768px) {
  .pos-page {
    height: 100vh;
  }
  .main-container {
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 20px;
  }
  .left-middle-panel {
    width: 100%;
    border-right: none;
  }
  .right-panel {
    width: 100%;
    margin-top: 30px;
  }
  .menu-section {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .menu-item {
    padding: 12px;
  }
  .tool-tip {
    display: none;
  }
  .order-list {
    height: 45vh;
    padding: 5px;
  }
  .menu-grid {
    height: 45vh;
    grid-template-columns: repeat(2, 1fr);
  }

  .order-item-main {
    grid-template-columns: 20px 1fr 130px 65px 20px;
  }
  .order-item {
    padding: 10px 10px 10px 0;
  }
  .quantity-controls span {
    padding: 4px;
  }
  .login_container_right {
    display: none;
  }
  .order-summary {
    margin-top: 30px;
  }
  .order-header {
    padding: 12px 0;
  }
  .order-item-name {
    font-size: 14px;
  }
  .login_logo_company_name,
  .login_logo_company_name span {
    line-height: 25px !important;
    font-size: 45px !important;
  }
  .login_container_left {
    padding-top: 30px !important;
  }
  .login_desciption_header {
    font-size: 24px !important;
  }
  .login_form {
    justify-content: flex-start !important;
  }
}

@media (min-width: 380px) and (max-width: 430px) {
  .order-extra-item {
    grid-template-columns: 1fr 40px 120px;
  }
  .order-item-price-input {
    width: 60px !important;
  }
}

@media screen and (max-width: 360px) {
  .order-header {
    grid-template-columns: 10% 35% 18% 26% 0;
  }

  .order-item-main {
    grid-template-columns: 10% 35% 22% 27% 0;
  }

  .quantity-controls button {
    width: 25px;
    height: 25px;
  }

  .order-item-price {
    font-size: 12px;
  }
  .main-container {
    padding-bottom: 60px;
  }
  .payment-option {
    padding: 10px 0px;
    font-size: 12px;
    width: 100px;
  }
  .order-extra-item {
    grid-template-columns: 1fr 20px 120px;
  }
}
