.summary-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.summary-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.summary-button,
.qr-code-button,
.select-table-button {
  width: 160px;
  height: auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.summary-button.primary {
  background-color: #28a745;
  color: #fff;
}

.summary-button.primary:hover:not(:disabled) {
  background-color: #218838;
  transform: scale(1.05);
}

.qr-code-button {
  background-color: #17a2b8;
  color: #fff;
}

.qr-code-button:hover:not(:disabled) {
  background-color: #138496;
  transform: scale(1.05);
}

.select-table-button {
  background-color: #ffc107;
  color: #fff;
}

.select-table-button:hover:not(:disabled) {
  background-color: #e0a800;
  transform: scale(1.05);
}

.summary-button.primary:disabled,
.qr-code-button:disabled,
.select-table-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.summary-total {
  display: flex;
  gap: 10px;
  align-items: center;
}

.summary-total_font {
  font-size: 18px;
  font-weight: bold;
}

.summary-count {
  display: flex;
  background-color: #8e8b84;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 6px;
  border-radius: 50%;
  height: 20px;
  min-width: 20px;
  justify-content: center;
  align-items: center;
}
