.app-container {
  background-color: #f4f5fa;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  height: 100%;
  min-height: 0px;
  overflow: auto;
  scroll-behavior: smooth;
}
.title_component {
  background-color: white;
  border-radius: 5px;
  h3 {
    text-transform: uppercase;
  }
}
.ant-picker-input input::placeholder {
  color: gray !important;
}
.custom_input_design input {
  padding-right: 0px !important;
}
